# <b> Problem 1: Import Pandas and Numpy in the notebook </b>

In [1]:
# Import statements
import pandas as pd
import numpy as np

# <b> Problem 2 : Load the automobile_data.csv kept in the shared folder

In [3]:
# Mount your drive and read the csv file. Make sure you are using the correct file path

from google.colab import drive
drive.mount('/content/drive')

# Your code here
working_path = "/content/drive/MyDrive/Colab Notebooks/extra/"
df = pd.read_csv(working_path + "automobile_data.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# <b> Problem 3 : Do a basic inspection and print the first and last 15 rows of your dataframe

In [6]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [7]:
df.tail()

     symboling normalized-losses   make  ... city-mpg highway-mpg  price
200         -1                95  volvo  ...       23          28  16845
201         -1                95  volvo  ...       19          25  19045
202         -1                95  volvo  ...       18          23  21485
203         -1                95  volvo  ...       26          27  22470
204         -1                95  volvo  ...       19          25  22625

[5 rows x 26 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [9]:
df.shape

(205, 26)

In [11]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

# <b>Problem 4 : You need to clean the data a little bit now. Replace all column values with the values <code>?</code> and <code>n.a</code> with <code>NaN</code>

In [24]:
# Your code here
df.replace("?","NaN",inplace = True)
df

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3               NaN  alfa-romero  ...       21          27  13495
1            3               NaN  alfa-romero  ...       21          27  16500
2            1               NaN  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

In [25]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

# <b>Problem 5 : Print the company name which manufactured the most expensive car. Also print the price of the most expensive car

In [35]:
# Your code here
price_df = df.sort_values(by = "price")
price_df.iloc[0][2]

'subaru'

# <b>Problem 6 : Calculate maximum horsepowers for each company. </b>

In [38]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [47]:
new_df = pd.DataFrame(df["horsepower"].groupby(df["make"]).max())
new_df

              horsepower
make
alfa-romero          154
audi                 160
bmw                  182
chevrolet             70
dodge                 88
honda                 86
isuzu                 90
jaguar               262
mazda                 84
mercedes-benz        184
mercury              175
mitsubishi            88
nissan                97
peugot                97
plymouth              88
porsche              288
renault              NaN
saab                 160
subaru                94
toyota                92
volkswagen            90
volvo                162

# <b> Problem 7 : Print the total number of cars manufactured by each company

In [56]:
# Your code here
total_cars = df["make"].value_counts()
total_cars

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
bmw               8
mercedes-benz     8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
chevrolet         3
jaguar            3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

# <b> Problem 8 : Create a new column for the updated price. This updated price will be calculated on top of the given price - if the engine is in front, price will be same else if the engine is in rear, price will be doubled </b>

In [60]:
df["engine-location"]

0      front
1      front
2      front
3      front
4      front
       ...
200    front
201    front
202    front
203    front
204    front
Name: engine-location, Length: 205, dtype: object

In [77]:
# Your code here. Use apply and lambda
def upd(p,e):
  if e == "front":
    return p
  elif e == "rear":
    return 2*int(p) 
  else:
    return p
  

df["upated_price"] = df.apply(lambda x: upd(x["price"],x["engine-location"]),axis = 1)
df

     symboling normalized-losses         make  ... highway-mpg  price upated_price
0            3               NaN  alfa-romero  ...          27  13495        13495
1            3               NaN  alfa-romero  ...          27  16500        16500
2            1               NaN  alfa-romero  ...          26  16500        16500
3            2               164         audi  ...          30  13950        13950
4            2               164         audi  ...          22  17450        17450
..         ...               ...          ...  ...         ...    ...          ...
200         -1                95        volvo  ...          28  16845        16845
201         -1                95        volvo  ...          25  19045        19045
202         -1                95        volvo  ...          23  21485        21485
203         -1                95        volvo  ...          27  22470        22470
204         -1                95        volvo  ...          25  22625        22625

[205 rows x 27 columns]

In [78]:
df[df["engine-location"]=="rear"]

     symboling normalized-losses     make  ... highway-mpg  price upated_price
126          3               NaN  porsche  ...          25  32528        65056
127          3               NaN  porsche  ...          25  34028        68056
128          3               NaN  porsche  ...          25  37028        74056

[3 rows x 27 columns]

# <b>Problem 9 : Sort the dataframe by car and price columns

In [79]:
# Your code here
df.sort_values(by = ["make","price"])

     symboling normalized-losses         make  ... highway-mpg  price upated_price
0            3               NaN  alfa-romero  ...          27  13495        13495
1            3               NaN  alfa-romero  ...          27  16500        16500
2            1               NaN  alfa-romero  ...          26  16500        16500
3            2               164         audi  ...          30  13950        13950
5            2               NaN         audi  ...          25  15250        15250
..         ...               ...          ...  ...         ...    ...          ...
199         -1                74        volvo  ...          22  18950        18950
201         -1                95        volvo  ...          25  19045        19045
202         -1                95        volvo  ...          23  21485        21485
203         -1                95        volvo  ...          27  22470        22470
204         -1                95        volvo  ...          25  22625        22625

[205 rows x 27 columns]

# <b> Problem 10 : Create a new column which stores the number of doors in a car as integers.

In [83]:
# Your code here. Use apply
def n(door):
  if door == "two":
    return 2
  elif door == "four":
    return 4
  else:
    return door
df["num-of-doors"] = df["num-of-doors"].apply(lambda x : n(x))
df

     symboling normalized-losses         make  ... highway-mpg  price upated_price
0            3               NaN  alfa-romero  ...          27  13495        13495
1            3               NaN  alfa-romero  ...          27  16500        16500
2            1               NaN  alfa-romero  ...          26  16500        16500
3            2               164         audi  ...          30  13950        13950
4            2               164         audi  ...          22  17450        17450
..         ...               ...          ...  ...         ...    ...          ...
200         -1                95        volvo  ...          28  16845        16845
201         -1                95        volvo  ...          25  19045        19045
202         -1                95        volvo  ...          23  21485        21485
203         -1                95        volvo  ...          27  22470        22470
204         -1                95        volvo  ...          25  22625        22625

[205 rows x 27 columns]

In [75]:
df["num-of-doors"].unique()

array(['two', 'four', 'NaN'], dtype=object)

# <b>Problem 11 : Concatenate the two data frames given below firstly row wise and secondly column wise.</b>

<code>GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}</code>

<code>japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}</code>

In [89]:
# Your code here
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}
df_g = pd.DataFrame(GermanCars)
df_j = pd.DataFrame(japaneseCars)
df_row = pd.concat([df_g,df_j], axis = 0)
df_col = pd.concat([df_g,df_j], axis = 1)
df_row

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900

In [90]:
df_col

    Company   Price      Company  Price
0      Ford   23845       Toyota  29995
1  Mercedes  171995        Honda  23600
2       BMV  135925       Nissan  61500
3      Audi   71400  Mitsubishi   58900